*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
} 
::-webkit-scrollbar {
	width: 1em;
}
::-webkit-scrollbar-track{
	background: hsl(120 75% 50% /0);
	border-radius: 100vw;
}
::-webkit-scrollbar-thumb {
	background: linear-gradient(#c33764, #1d2671);
	border: .25em linear-gradient(#c33764,#1d2671);
	border-radius: 100vw;
}
::-webkit-scrollbar-thumb:hover {
	background: linear-gradient(#ffaf7b, #d76d77, #3a1c71);
}

.container{
	min-height: 100vh;
	background-image: url("./assets/images/background.jpg");
	background-position: center;
	background-size: cover;
	box-sizing: border-box;
}
nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: sticky;
	min-height: 8vh;
	font-family: "Poppins", sans-serif;
	z-index: 9999;
	-webkit-backdrop-filter: blur(20px);
	backdrop-filter: blur(20px);

}
.logo a{
	text-decoration: none;
	color: cyan;
	cursor: pointer;
	letter-spacing: 2px;
	font-size: 20px;
}
.nav-links{
	display: flex;
	justify-content: space-around; 
	width: 60%;
}
.nav-links li {
	list-style: none;
}
.nav-links a{
	color: #fff;
	text-decoration: none;
	letter-spacing: 2px;
	font-weight: bold;
	font-size: 14px;
	font-family: 'Roboto Mono', monospace;
}
.nav-links a:hover{
	color: aqua;
}
.burger{
	display: none;
	cursor: pointer;
}
.burger div{
	width: 25px;
	height: 5px;
	background-color: #fff;
	margin: 5px;
	transition: all 0.3s ease;
}
.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
	padding-top: 60px;
}
@media screen and (max-width: 800px) {
	body{
		overflow-x: hidden;
	}
	.nav-links{
		position: absolute;
		right: -20px;
		height: 92vh;
		top: 8vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 50%;
		background: rgba(26, 25, 29, 1);
		transform: translateX(100%);
		transition: transform 0.5s ease-in;
	}
	.nav-links li{
		opacity: 0;
	}
	.burger{
		display:block
	}
}

.nav-active{
	transform: translateX(0%);
}

@keyframes navLinkFade{
	from{
		opacity: 0;
		transform:translateX(50px);
	}
	to{
		opacity: 1;
		transform: translateX(0px);
	}
}
.toggle .line1{
	transform: rotate(-45deg) translate(-5px,9.2px);
}
.toggle .line2{
	opacity: 0;
}
.toggle .line3{
	transform: rotate(45deg) translate(-5px,-9.2px);
}
.row {
	width: 90%;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}
.cv{
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 30px 30px;
}
h1 {
	color: white;
	font-size: 100px;
	font-weight: 600;
	font-family: "Poppins", sans-serif;
	text-shadow: 1px 3px 11px rgb(0 0 0 / 30%);
	letter-spacing: 2.2px;
}
p {
	font-size: 22px;
	letter-spacing: 2.2px;
	color: white;
	font-family:  'Roboto Mono', monospace;
	text-align: center;
}
@media(max-width: 780px){
	nav img{
		width: 200px;
		margin-left: -20%;
		margin-top: 6%;
	}
	.row h1{
		font-size: 40px;
	}
	.row p{
		font-size: 20px;
	}
}
::selection {
	background: #cfe3c3;
  }
/* expertise */

.tech-col h3{
	font-size: 35px;
	font-family: 'Roboto Mono', monospace;
	color: #fff;
	padding-bottom: 18px;
	text-decoration: solid underline;
	text-decoration-color: aqua;
	text-decoration-thickness: 5px;
}
.tech-col2 h3{
	font-size: 35px;
	font-family: 'Roboto Mono', monospace;
	color: #fff;
	padding-bottom: 18px;
	text-decoration: solid underline;
	text-decoration-color: #cb82f7;
	text-decoration-thickness: 5px;
}

.tech{
	width:80%;
	margin: auto;
	text-align: center;
	padding-top: 100px;
}
.tech h1 {
	font-size: 80px;
	letter-spacing: 5px;
	padding-bottom: 3%;
}
.exp{
	margin-top: 5%;
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 5%;
}
.tech-col{
	flex-basis: 60%;
	background: transparent;
	border-radius: 0px;
	margin-bottom: 5%;
	padding: 20px 12px;
	box-sizing: border-box;
	border-style:groove;
	border-color: #fff;
	line-height: 300%;
	box-shadow: 20px 20px 10px black;
}
.tech-col2{
	flex-basis: 60%;
	background: transparent;
	border-radius: 0px;
	margin-bottom: 5%;
	padding: 20px 12px;
	box-sizing: border-box;
	border-style: groove;
	border-color: #fff;
	line-height: 300%;
	box-shadow: 20px 20px 15px black;
}
body{
	background-color: #1a191d;
	background-position: center;
	background-size: cover;
}
.tech-col2 .back {
	width: 7%;
	height: auto;
	position:absolute;
	right: 37%;
}
.tech-col .front {
	width: 7%;
	height: auto;
	position:absolute;
	right: 80%;
}
@media screen and (max-width: 507px) {
	.tech h1{
		font-size: 45px;
	}
	.tech-col h3 {
		font-size: 30px;
	}
	.tech-col2 h3 {
		font-size: 30px;
	}
	.tech-col2 p {
		line-height: 200%;
	}
	.exp{
		display: grid;
		grid-template-columns: 90%;
	}

}
@media screen and (max-width: 650px) {
	.exp{
		display: grid;
		grid-template-columns: 90%;
	}
}
@media screen and (max-width: 1200px) {
	.back{
		display: none;
	}
	.front {
		display: none;
	}
}
/* -------slider------ */
.slider{
	width: 1000px;
	height: 100px;
	position:relative;
	background: transparent;
	box-shadow: 0 10px 20px -10px rgba(0,0,0,0.2);

	display: flex;
	overflow: hidden;
	margin-top: 10%;
}
.slide{
	height: 100px;
	display: flex;
	right: 0%;
	align-items: center;
	animation: slideshow 20s linear infinite;
}
.slide img{
	height: 70px;
	padding: 0 30px 0 30px;
}
@keyframes slideshow {
	0% {transform: translateX(0%);}
	100%{transform: translateX(-100%);}
}
.slider::before, .slider::after{
	height: 100px;
	width: 200px;
	position: absolute;
	content: "";
	background: linear-gradient(to right, #1a191d 0%, rgba(26,25,29,0)100%);
	z-index: 2;
}
.slider::before{
	left: 0;
	top:0;
}
.slider::after{
	right: 0;
	top:0;
	transform: rotateZ(180deg);
}
@media screen and (max-width: 1205px){
	.slider{
		width: 100%;
	} 
}
@media screen and (min-width: 1205px){
	.slider{
		width: 100%;
		justify-content: center;
		right: 0;
	} 
}


/* -------------PROJECTS---------- */

.portfolio{
	padding: 50px;
}

.project-heading {
	font-size: 80px;
	letter-spacing: 5px;
	padding-bottom: 3%;
	text-align: center;
	padding-top: 3%;
}
.work-list{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(500px, 4fr));
	grid-gap: 40px;
	margin-top: 50px;
	justify-items: center;
}
.work{
	border-radius: 10px;
	position: relative;
	overflow: hidden;
	width: 500px;
	box-shadow: 20px 20px 15px black;
}
.work img{
	border-radius: 10px;
	display: block;
	width:  500px;
	transition: transform 0.7s;
}
.work video{
	border-radius: 10px;
	display: block;
	width:  500px;
	transition: transform 0.7s;
}
.layer{
	width: 100%;
	height: 0%;
	background: linear-gradient(rgba(29, 38, 114, 0.6), #c33764 );
	border-radius: 10px;
	position: absolute;
	left: 0;
	bottom: 0;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0px 40px;
	text-align: center;
	transition: height 0.7s;
}
.layer h3{
	color: #fff;
	font-size: 32px;
	font-weight: 500;
	font-family: 'Courier New', Courier, monospace;
	margin-bottom: 40px;
}
.layer p{
	color: #fff;
	font-size: 16px;
	line-height: 120%;
}
.layer a{
	margin-top: 20px;
	color: #1a191d;
	text-decoration: none;
	font-size: 30px;
	line-height: 60px;
	text-align: center;
}
.layer li {
	list-style: none;
	display: inline;
}
.work:hover img{
	transform: scale(1.1);
}
.work:hover video{
	transform: scale(1.1);
}
.work:hover .layer{
	height: 100%;
}
@media screen and (max-width: 507px){
	.project-heading{
		font-size: 45px;
	}
}
@media screen and (max-width: 612px){
	.work{
		display:flex;
		margin-left: auto;
  		margin-right: auto;
		width: 70%;
		height: 70%;
		flex-direction: column;
	}
	.card-container{
		justify-content: center;
	}
	.work-list{
		justify-content: center;
	}
	.work img{
		width: 100%;
		height: auto;
	}
	.work video{
		width: 100%;
		height: auto;
	}
	.layer h3{
		color: #fff;
		font-size: 17px;
		font-weight: 500;
		margin-bottom: 20px;
		margin-top: 0;
	}
	.layer p{
		color: #fff;
		font-size: 10px;
		line-height: 150%;
		margin-bottom: 0;
	}
}
/* -----------Contact----- */

.contact-section{
	position: relative;
	width: 100%;
	padding: 40px 100px;
}
.contact-heading{
	font-size: 80px;
	letter-spacing: 5px;
	padding-bottom: 3%;
	text-align: center;
	padding-top: 3%;
}
.form{
	grid-area: form;
	box-shadow: 20px 20px 15px black;
}
.map{
	grid-area: map;
	border-radius: 10px;
	box-shadow: 20px 20px 15px black;
}
.about{
	grid-area: about;
	background: #212733;
	box-shadow: 20px 20px 15px black;
	border-radius: 10px;
}
.contact{
	padding: 40px;
	color: #fff;
}
.box{
	position: relative;
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 5fr 4fr;
	grid-template-areas:
		"form about"
		"form map";
	grid-gap: 20px;
	margin-top: 20px;
}
.contact-form input, .contact-form textarea{
	width: 100%;
	height: 40px;
	background: rgba(255,255,255,0.2);
	border: 1px solid #fff;
	margin-bottom: 30px;
	border-radius: 5px;
	text-transform: capitalize;
	color: #fff;
	padding: 5px 30px;
}
::placeholder{
	color: #fff;
}
#msg{
	height: 300px;
	resize: none;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 16px;
}
.form-submit-btn{
	background: #c33764;
	color: #fff;
	text-transform: capitalize;
	padding: 15px 40px;
	display: block;
	margin: auto;
	border: none;
	border-radius: 10px;
	cursor: pointer;
}
.media ul{
	list-style: none;
	display: flex;
	gap: 40px;
	justify-content: center;
	padding-top: 15%;
}
.media ul a{
	color: #fff;
	font-size: 40px;
	cursor: pointer;
}
.about h3{
	font-size: 30px;
	display: flex;
	justify-content: center;
	text-decoration: underline;
	text-decoration-color: aqua;
	text-decoration-thickness: 5px;
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;

}
.aboutBox p{
	font-size: 16px;
	padding-top: 5%;
	word-spacing: 2%;
	line-height: 200%;
	font-weight: 900;
}

@media screen and (max-width: 507px){
	.contact-heading{
		font-size: 45px;
	}
}
@media screen and (max-width: 1200px) {
	.box{
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		grid-template-areas: 
			"about"
			"form"
			"map";
	}
}
@media  screen and (max-width: 900px) {
	.contact-section{
		padding: 0%;
	}
	.box{
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		grid-template-areas: 
			"about"
			"form";
		grid-gap: 30px;
		padding: 0px 30px;
		display: flex;
		flex-direction: column-reverse;
	}
	.media ul a{
		font-size: 20px;
	}
	.contact.map{
		display: none;
	}
	.contact.about{
		padding: 10px;
	}
	.aboutBox p {
		font-size: 12px;
	}
}
#footer{
	padding-top: 3%;
	padding-bottom: 3%;
	text-align: center;
	display: flex;
	justify-content: center;
	position: relative;
}
#footer p{
	font-size: 10px;
}


